<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransportSecurity" closeTimeout="00:05:00" openTimeout="00:05:00"
                    receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="quotation" closeTimeout="00:05:00" openTimeout="00:05:00"
                    receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IQuotationService" />
            </basicHttpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientCertificateCredential">
            <clientCredentials>
              <clientCertificate findValue="usrSComSPUser" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />
              <serviceCertificate>
                <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <client>
            <endpoint address="https://integration-pre-ws.gruposancorseguros.com/PrevencionSaludPublic/Quotation/QuotationService.svc"
                behaviorConfiguration="ClientCertificateCredential" binding="basicHttpBinding"
                bindingConfiguration="TransportSecurity" contract="QuotationService.IQuotationService"
                name="BasicHttpBinding_IQuotationService" />
        </client>
    </system.serviceModel>
</configuration>