<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="log4net.config"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=CARLOS-THINK\SQLEXPRESS2008;Initial Catalog=CUITS;Integrated Security=false;user id=sa;password=Passw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="requestReplyRoutingEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IARTServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://200.41.127.78/CurrentAccountARTPublicServices/ARTAccountingServices.svc"
         behaviorConfiguration="httpbehaviorARTServices" binding="basicHttpBinding"
        bindingConfiguration="requestReplyRoutingEndpoint" contract="ARTServices.IARTServices"
        name="BasicHttpBinding_IARTServices" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpbehaviorARTServices">
          <clientCredentials>
            <clientCertificate findValue="usrConsulGroup1"
                               storeLocation="LocalMachine"
                               storeName="My"
                               x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
