<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="log4net.config"/>
    <add key="Pool.Timeout" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=CARLOS-THINK\SQLEXPRESS2008;Initial Catalog=CUITS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="requestReplyRoutingEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IARTServices"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://200.41.127.78/CurrentAccountARTPublicServices/ARTAccountingServices.svc" binding="basicHttpBinding" bindingConfiguration="requestReplyRoutingEndpoint" contract="ARTServices.IARTServices" name="BasicHttpBinding_IARTServices"/>
    </client>
      <!--behaviorConfiguration="httpbehaviorARTServices"-->
    <!--<behaviors>
      <endpointBehaviors>
        <behavior name="httpbehaviorARTServices">
          <clientCredentials>
            <clientCertificate findValue="usrConsulGroup"
                               storeLocation="LocalMachine"
                               storeName="My"
                               x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
