<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="999999" maxReceivedMessageSize="999999" name="requestReplyRoutingEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding maxBufferSize="999999" maxReceivedMessageSize="999999" name="BasicHttpBinding_IARTServices"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://200.41.127.78/CurrentAccountARTPublicServices/ARTAccountingServices.svc" binding="basicHttpBinding" bindingConfiguration="requestReplyRoutingEndpoint" contract="ARTServices.IARTServices" behaviorConfiguration="httpbehaviorARTServices" name="BasicHttpBinding_IARTServices"/>
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpbehaviorARTServices">
          <clientCredentials>
            <clientCertificate findValue="usrConsulGroup" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
